body{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #aeabb2;
    font-size: 20px;
    padding: 0 1%;
    border-bottom: 1px solid black;
}

hr {
    width: 90%;
    float: left;
}

.header1 img {
    width: 30px;
}

.header2 {
    display: flex;
    justify-content: center;
    padding: 22px;
}

.header2 div{
    padding: 0 8px;
}

.header3 img {
    width: 30px;
}

main {
    padding: 4% 2%;
}

.flex {
    display: flex;
}

.section1 {
    width: 80%;
    height: 100%;
}
.section2 {
    margin-right: 5%;
    margin-top: 1%;
    width: 20%;
    height: 100%; 
}

.section2 div {
    padding: 10px;
    background-color: #aeabb2;
}

.section2 div hr {
    width: 100%;
    color: white;
}

main img{
    width: 70px;
    height: 70px;
}

.main1 {
    display: flex;
    justify-content: left;
}

.main2 {
    margin-bottom: 3%;
}

.main1p {
    font-size: 25px;
}

.main1 table p{
    margin: 0 0;
    padding: 0 10px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 20%;
    grid-template-rows: 150px 50px;
}

.grid p {
    margin: 0;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    height: auto;
    width: auto;
    padding: 0 1%;
}

.footer2 {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.footer2 div {
    padding: 0 5px;
}